@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  background:#FFFFFF;
  width: 100vw;
}

.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
  padding: 10px;
}

.logo img{
  width: 43px;
  height: 40px;
  margin: 10px;
}

.logo p{
  font-family: "DM Sans", system-ui;
  color: #FD6F00; 
  font-weight: bold;  
  margin: 10px;
}

.logo span{
  font-family: "DM Sans", system-ui;
  color: #171717;
  font-weight: bold; 
}

.aling{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:row;
  padding: 10px;
}


.aling a{
  font-family: "DM Sans", system-ui;
  font-weight: bold; 
  color: #171717;
  margin: 10px;
  text-decoration: none;
}


.btn button{
  padding: 10px;
  background: #FD6F00;
  color: #FFFFFF;
  font-family: "DM Sans", system-ui;
  border-radius: 5px;
  width: 8vw;
}


/* heard*/


.alingdivicao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alingdivicaosobre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5vh;
}

.alingHeard{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin:5vw;
}

.alingcarrosel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alingHeard p{
  color: #171717;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 5px;
}

.alingHeard h2{
  color: #FD6F00;
  font-weight: bold;
  font-size: 2.5vw;
}


.alingText{
  font-family: "DM Sans", system-ui;
  font-size: 3vw;
  margin-top: 1vh;
}

.alingText2{
  font-family: "DM Sans", system-ui;
  font-size: 3vw;
  margin-top: -2vw;
  margin-left: 15vw;
}

.btn2 button{
  padding: 10px;
  background: #FD6F00;
  color: #FFFFFF;
  font-family: "DM Sans", system-ui;
  border-radius: 5px;
  width: 8vw;
  margin-top: 4vh;
}

.fontSection p{
  font-family: "DM Sans", system-ui;
  font-size: 1.5vw;
}

.imgarea img{
  width: 30vw;
  padding: 10px;
  margin-right:5vw;
}


/* Sobre */
.sobre h2{
  font-family: "DM Sans", system-ui;
  font-weight: bold;
  font-size: 4vw;

}

.sobre p{
  font-family: "DM Sans", system-ui;
  font-size: 1vw;
}

/* barra de progesso */


.softSkill li{
  list-style: none;
  margin: 20px 0px;
  font-family: "DM Sans", system-ui;
  font-size: 1vw;
  font-weight: bold;
} 

.bar{
  background:#EDECEC;
  display: block;
  width: 42vw;
  height: 1.5vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 3px #171717 0px 1px 2px #171717;
  transition:  all 1s cubic-bezier(.25,.8,.25,.1);
}


.bar:hover{
  box-shadow: 0px 1px 3px #171717 0px 1px 2px #171717;
}

.bar span{
  height: 20px;
  float: left;
  background: #FD6F00;
}

.Tr{
 width:90%;
 animation: Tr 3s;
}


.Ca{
  width:90%;
  animation: Tr 3s;
 }


.Vo{
  width:90%;
  animation: Tr 3s;
 }


 /* carrosel */

.hardSkill h2{
  font-family: "DM Sans", system-ui;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}


.hardSkill p{
  font-family: "DM Sans", system-ui;
  font-size: 1.1vw;
  text-align: center;
}

.carrosellCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 8vh;
  padding: 10px;
}


.carousel-track-container {
  overflow: hidden;
  width:65vw; /* 300px * 3 para mostrar três slides */
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-slide {
  min-width: 15vw; 
  list-style: none;
  text-align: center;
  background:#f1f1f1;
  padding: 5px;
  margin: 5px;

  border-radius: 14px;
  height: 25vh;

}

.carousel-slide img {
  width: 24px;
  margin-right: 160px;
  margin-top: 10px;
  height: auto;
}

.carousel-slide h2{
  font-family: "DM Sans", system-ui;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: left;
}

.carousel-slide p{
  font-family: "DM Sans", system-ui;
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  margin-right: 10vw;
  margin: 5px;
}

.carrosellCard button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.carrosellCard button:focus {
  outline: none;
}


/* projetos */

.alingProjetos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin: 40px;
}

.TituloProjeto h2{
  text-align: center;
  font-family: "DM Sans", system-ui;
  font-size: 4vw;
  font-weight: bold;
  margin: 5px;
}

.TituloProjeto p{
  text-align: center;
  font-family: "DM Sans", system-ui;
  font-size: 1vw;
  font-weight: bold;
}

.btnProjetos button{
  padding: 10px;
  background: #FD6F00;
  color: #FFFFFF;
  font-family: "DM Sans", system-ui;
  border-radius: 5px;
  width: 10vw;
  margin-top: 4vh;
}

.slidProjetos {
  margin-top: 10vh;
  min-width: 700px;
  width: 70vw;
  height: 500px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px hsla(10, 6%, 15%, 0.4);

  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: hsl(0, 0%, 90%);
  box-sizing: border-box;
}

.slid {
  position: absolute;
  top: 0;
  left: 0; /* Começa do lado esquerdo do container */
  width: 100%; /* Se ajusta ao tamanho do container */
  height: 100%;
  transform-origin: left 50%;
  
  background: inherit;
  z-index: var(--z, 0); /* Z-index padrão */
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0; /* Inicialmente invisível */
}

.slid img {
  width: 100%; /* A imagem ocupa todo o slide */
  height: 100%; /* Ajusta a altura da imagem ao container */
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: hsla(var(--h), var(--s), var(--l), 0.8);
  text-shadow: 0 2px 10px hsla(var(--h), var(--s), 10%, 0.3);
}

.slidProjetos input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

.slidProjetos label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;
  background: hsla(0, 0%, 90%, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.slidProjetos label:last-child {
  margin-right: 0;
}

/* Slide ativo (centralizado) */
input:checked + label + .slid {
  transform: translateX(0); /* Mantém o slide ativo no centro */
  opacity: 1; /* Torna o slide visível */
  z-index: 2; /* Garante que o slide ativo esteja acima dos outros */
}

/* Move os slides não ativos para fora da tela */
input:not(:checked) + label + .slid {
  transform: translateX(100%); /* Move para a direita */
  opacity: 0; /* Mantém os slides não ativos invisíveis */
  z-index: 1;
}

/* Animação de transição dos slides */
input:checked + label + .slid ~ .slid {
  transform: translateX(-100%); /* Move os slides para a esquerda ao passar para um novo slide */
  opacity: 0; /* Mantém os slides não ativos invisíveis */
  z-index: 1;
}

/* Desabilita a transição para os slides não selecionados */
input:not(:checked) + label + .slid {
  transition: 0; /* Desabilita a transição para os slides inativos */
}

/* Estilo para o label ativo */
input:checked + label {
  background: linear-gradient(to right,
    hsla(var(--hue), 80%, 70%, 0.7),
    hsla(calc(var(--hue) + 30), 80%, 50%, 0.7));
}




