@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  background:#FFFFFF;
  width: 100vw;
}

.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction:row;
  padding: 10px;
}

.logo img{
  width: 43px;
  height: 40px;
  margin: 10px;
}

.logo p{
  font-family: "DM Sans", system-ui;
  color: #FD6F00; 
  font-weight: bold;  
  margin: 10px;
}

.logo span{
  font-family: "DM Sans", system-ui;
  color: #171717;
  font-weight: bold; 
}

.aling{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:row;
  padding: 10px;
}


.aling a{
  font-family: "DM Sans", system-ui;
  font-weight: bold; 
  color: #171717;
  margin: 10px;
  text-decoration: none;
}


.btn button{
  padding: 10px;
  background: #FD6F00;
  color: #FFFFFF;
  font-family: "DM Sans", system-ui;
  border-radius: 5px;
  width: 8vw;
}


/* heard*/


.alingdivicao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alingHeard{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin:5vw;
}


.alingHeard p{
  color: #171717;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 5px;
}

.alingHeard h2{
  color: #FD6F00;
  font-weight: bold;
  font-size: 2.5vw;
}


.alingText{
  font-family: "DM Sans", system-ui;
  font-size: 3vw;
}

.alingText2{
  font-family: "DM Sans", system-ui;
  font-size: 3vw;
  margin-left: 15vw;
}

.btn2 button{
  padding: 10px;
  background: #FD6F00;
  color: #FFFFFF;
  font-family: "DM Sans", system-ui;
  border-radius: 5px;
  width: 8vw;
  margin-top: 4vh;
}

.fontSection p{
  font-size: 1.5vw;
}

.imgarea{

}

.imgarea img{
  width: 30vw;
  padding: 10px;
  margin-right:5vw;

}